{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block content %}
  <div>
    <center>
    <form action = "{{ url_for('other') }}" method = "POST">
      <button type="submit" name='sort' value="sortlow" formmethod="post"> Sort by Lowest Price </button>
      <button type="submit" name='sort' value="sorthigh" formmethod="post"> Sort by Highest Price </button>
    </form>
	</center>
    <table class="styled-table">
	<tr>
	  <th scope="col">Model ID</th>
	  <th scope="col">Brand</th>
      <th scope="col">Name</th>
	  <th scope="col">Price</th>
      <th scope="col"></th>
	</tr>
    {% for row in results %}
      <tr>
         <td>{{ row[0] }}</td>
         <td>{{ row[1] }}</td>
		 <td>{{ row[2] }}</td>
		 <td>${{ row[3] }}</td>
		 <td>
		   <form action="{{ url_for('add_to_cart') }}" method="POST">
             <input id="model_id" name="model_id" type="hidden" value="{{row[0]}}">
             <button type="submit" name='addtocart' value="{{ row[0] }}" formmethod="post"> Add To Cart </button>
           </form>
		 </td>
      </tr>
    {% endfor %}
	</table>
  </div>
{% endblock %}